/*
/* allgemein */
.list th div, 
.list th div:hover, 
.list div.open, 
.list div.open:hover 	{	-webkit-transition: all 0.1s ease-out;
						-o-transition: 		all 0.1s ease-out;
						-moz-transition: 	all 0.1s ease-out;
						transition: 		all 0.1s ease-out;
						z-index: 2;}	

html, body, table, tr, th, div, ul, li {margin: 0 auto; padding: 0; position: relative; font-family: Verdana, Arial; }
html, body {width: 100%; height: 100%; font-size: 16px; background-color: #F8F8FF;}

table {width: 100%;}
tr {border: 1px ridge;}
th {display: inline-block;}
ul {list-style-type: none;}
ul li {display: inline-block; width: 100%; left: -.5px; border: 1px groove #D6D6D6;}
p {margin: 0 auto; padding: 2px 10px; position: relative; float: left; font-weight: normal; float: right; font-size: 16px}

/* der content und inhalt */
#container {width: 90%; height: 100%; display: block;}
#id {height: 100%; width: 100%;}
#log tr {margin: 2px 0; padding: 3px 0; width: 100%; float: left;}

/* beschreibungen/ueberschriften */
h1, h4, h5 {margin: 0;}
h1 {padding: 40px 0; font-size: 20px; text-align: center;}
h4 {padding: 1px 6px; min-width: 100px; text-align: right; font-weight: 700; color: #5C5C5C;}
h5 {padding: 2px 10px; float: left; font-size: 16px; font-weight: normal;}

/* error und informationen */
.error, .error * {color: #db0404; border-color: rgba(219, 4, 4, 0.5);}
.error th p {background-color: rgba(255, 135, 135, 0.15);}
.info * {color: #00d966}
.info th p {background-color: rgba(0, 217, 102, 0.08);}
.warning * {color: #CBA300}
.warning th p {background-color: rgba(255, 165, 0, 0.12);}

/* listenstyle Variable/Wert */
#log .list.open {max-height: 100%;}
.list {max-height: 23px;}
.list .varList {width: 100%; top: -82px; z-index: 1; display: none;}
.list .varList.open {top: 6px; display: block;}

.list th div {border-top: 10px solid #006400; border-left: 10px solid transparent; border-right: 10px solid transparent;}
.list th div:hover {border-top-color: #049204;}
.list th ul li:hover {color: #00AD53; background-color: rgba(165, 165, 165, 0.27);}

.list div.open {border-top: transparent; border-bottom: 10px solid #006400;}
.list div.open:hover {border-bottom-color: #ff6c6c;}

/* devider */
#log .dev {margin: 0; padding: 2px 0; left: -1%; width: 102%; max-height: 10px; background-color: rgb(245, 185, 58);}

/* standard color classes */
.red 		{color: #ff0000;}
.green 		{color: #00ff00;}
.blue 		{color: #0000ff;}
.orange		{color: #ffa500;}
.yellow		{color: #ffff00;}
.cyan		{color: #00ffff;}
.blue		{color: #0000ff;}
.purple		{color: #a020f0;}
.pink		{color: #ffc0cb;}